.app {
  section.quotes-section {
    position: relative;
    margin-bottom: 70px;

    .pic {
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $mediumBlue;
      border-radius: 10px;
      box-shadow: 0 0 40px -20px;
      opacity: 0;

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes slideIn {
        from {
          left: 200px;
        }
        to {
          left: 230px;
        }
      }

      &.fade {
        animation: fadeIn 2s ease-in;
        animation-fill-mode: forwards;

        .quote-container {
          animation: slideIn 2s ease-in;
          animation-fill-mode: forwards;
        }
      }

      &.visible {
        opacity: 1;
      }

      &.pic1 {
        background-image: url("../../../../images/pages/Homepage/quotes-pic-1.jpg");
        height: 365px;
      }

      &.pic2 {
        background-image: url("../../../../images/pages/Homepage/quotes-pic-2.jpg");
        background-position: -60px 0;
        width: 470px;
        height: 380px;
        margin-left: -182px;
      }

      &.pic3 {
        background-image: url("../../../../images/pages/Homepage/quotes-pic-3.jpg");
        background-position: -178px 0;
        height: 365px;
      }
    }

    .quote-container {
      position: absolute;
      top: 240px;
      left: 230px;

      .content {
        position: relative;
        padding: 40px;
        border-radius: 10px;
        border-left: 5px solid $mediumBlue;

        i {
          position: absolute;
          top: -40px;
          right: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          width: 80px;
          height: 80px;
          border-radius: 10px;
          background: $blueGradient;

          svg {
            font-size: 3rem;
          }
        }

        h6 {
          font-weight: bold;
          color: $mediumBlue;
          padding-top: 10px;
        }

        span {
          font-size: 0.8em;
          color: $grey;
        }
      }

      .buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        position: relative;
        z-index: 1;

        button {
          background: none;
          outline: none;
          min-width: initial;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: 1px solid $darkBlue;
          border-radius: 50%;
          cursor: pointer;

          svg {
            font-size: 1.2rem;
          }
        }

        .prev {
          margin-right: 10px;
        }

        .next {
          background: $blueGradient;
          color: $white;
        }
      }
    }

    &.mobile-section {
      margin-bottom: 0;

      h3 {
        text-align: center;
      }

      .buttons {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        position: relative;
        z-index: 1;

        button {
          background: none;
          outline: none;
          min-width: initial;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: 1px solid $darkBlue;
          border-radius: 50%;
          cursor: pointer;

          svg {
            font-size: 1.2rem;
          }
        }

        .prev {
          margin-right: 10px;
        }

        .next {
          background: $blueGradient;
          color: $white;
        }
      }

      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 450px;
        opacity: 0;

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        &.fade {
          animation: fadeIn 2s ease-in;
          animation-fill-mode: forwards;
        }

        &.visible {
          opacity: 1;
        }

        h6 {
          font-weight: bold;
          color: $mediumBlue;
          padding-top: 10px;
        }

        span {
          font-size: 0.8em;
          color: $grey;
        }

        .pic-container {
          display: flex;
          justify-content: center;

          .pic {
            background-size: 100% 100%;
            background-position: initial;
            opacity: initial;
            box-shadow: initial;
            border-radius: initial;
            width: 100%;
            max-width: 400px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &.pic1 {
              height: 450px;
            }

            &.pic2 {
              height: 300px;
            }

            &.pic3 {
              height: 300px;
            }
          }
        }

        &.below500 {
          .pic-container {
            .pic {
              max-width: 100%;
            }
          }
        }

        .content {
          position: relative;
          padding: 20px;
          border-left: 5px solid $mediumBlue;
          border-radius: initial;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;

          i {
            position: absolute;
            top: -32px;
            right: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            width: 60px;
            height: 60px;
            border-radius: 10px;
            background: $blueGradient;

            svg {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}
