$white: #ffffff;
$black: #000000;
$grey: #777777;
$darkBlue: rgba(6, 23, 61, 1);
$mediumBlue: rgba(33, 57, 111, 1);
$lightBlue: #f3f7ff;
$blueGradient: linear-gradient(0deg, $darkBlue 0%, $mediumBlue 60%);
